.header {
  display: flex;
  align-items: center;
  box-sizing: border-box;
}

.headerBlack {
  background-color: blue;
}

.headerBlack .logo {
  color: black;
}

.logo {
  display: block;
  margin-right: 135px;
}

.userMenu {
  display: flex;
  gap: 4px;
}

.containerSvg {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #fff4df;
  position: relative;
}

.userSvg {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
