.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

.logoWhite {
  --color2: white;
}

.logoBlack {
  --color1: black;
}

.userMenu {
  display: flex;
  gap: 4px;
}

.containerSvgWhite {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #fff4df;
  position: relative;
}

.userSvg {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.mobMenuBlack {
  --color1: black;
}

/* .header {
  display: flex;
  align-items:center;
  box-sizing: border-box;
}

.userSvg,
.userSvgWhite {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}



.mobMenu {
  --color1: black;
} */
