.mainLayoutContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.orangeContainer {
  background: #f6b83d;
  border-radius: 30px;
  width: 335px;
  padding: 18px 20px 50px 20px;
  box-sizing: border-box;
}

.textContainer {
  margin-top: 60px;
  box-sizing: border-box;
}

.title {
  font-family: "Manrope", sans-serif;
  font-weight: 700;
  font-size: 50px;
  line-height: 0.96;
  letter-spacing: -0.03em;
  color: #fff;
  margin-bottom: 24px;
}

.span {
  color: #ffffff66;
}

.description {
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.02em;
  color: #fff;
  box-sizing: border-box;
}
