.searchInput,
.inputSearchNews {
  width: 335px;
  height: 42px;
  box-sizing: border-box;
  position: relative;
  max-width: 335px;
  width: 100%;
}

.inputSearchNews {
  margin-top: 20px;
  width: 335px;
  height: 42px;
  box-sizing: border-box;
}

.iconSearch,
.iconX {
  stroke: black;
  fill: white;
}

.btnSearch {
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  right: 12px;
}

.iconSearch {
}

.buttonX {
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  right: 34px;
}

.input {
  border: 1px solid rgba(38, 38, 38, 0.15);
  border-radius: 30px;
  padding: 12px;
  width: 100%;
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.03em;
  color: #262626;
  box-sizing: border-box;
}

.input::placeholder {
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.03em;
  color: rgba(38, 38, 38, 0.5);
}
